h1{color: green;font-family: 'Times New Roman', Times, serif;font-size: 250%;}
div.fixed {position: fixed;width: 50%;bottom: 10px;}
a{color: rgb(4, 97, 9);font-family: 'Times New Roman', Times, serif;font-size: 100%;}