h1 {
  color: black;
  background-color: aliceblue;
  font-family: "Times New Roman", Times, serif;
  font-size: 250%;
}
div.fixed {
  position: fixed;
  width: 50%;
  bottom: 10px;
}
a {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 100%;
}
body{
  background-color: rgb(77, 77, 77) ;
}